<!DOCTYPE html>
<html>
<head>
    <title>Express JS</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/myCss.css">
</head>
<body>
    h1 Sorry, we heven't that page.
    h2 Error 404.
    br
    br
    a.btn.btn-primary(href="/") Go Home


</body>
<html>