<!DOCTYPE html>
<html>
<head>
    <title>Express JS</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/myCss.css">
</head>
<body>
    <h1>Sended data:</h1>
    <h3>Your email is: <span class="blueText">#{email}<span></h3>
    <h3>And you are: <span class="blueText">#{name}<span></h3>
    <a class="btn btn-primary" href="/">Go Home</a>
</body>
<html>