<!DOCTYPE html>
<html>
<head>
    <title>Express JS</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/myCss.css">
</head>
<body>
    h1 My first server on Express Js
    <p class="joke">#{joke}<p><br>
    a.btn.btn-primary(href='/form') Sending form
    a.btn.btn-danger(href='/1234') Error address

</body>
<html>